*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.header-content{
    border: 5px solid red;
    margin-left: 800px;
    margin-right: 200px;
    margin-top: -550px;
    text-align: right;
}
.header-title{
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 30px;
}
.header-para{
    margin-bottom: 30px;  
}
.button-contact{
    padding: 15px;
    border: none;
    background-color: orangered;
    color: white;
}
/* first section ended */

/* second section started */

.previous-year-container{
    display: flex;
    gap: 70px;
}

.previous-year{
    margin-top: 300px;
}

.year-title{
    margin-top: 150px;
    margin-bottom: 20px;
}

.year-description{
    margin-bottom: 20px;
}

.previous-year-container-text{
    margin-right: 300px;
}

,personal-photo{
    margin-left: 100px;
}